/* Written by Chris Colella
   10/7/2022 */

@media print {

    body{
      background-color: #fff;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }

    a:visited {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }

      img {
        display: none;
      }

      h1 {
        color: black;
      }

}